<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
-->
<ExamineLuceneIndexSets>
  <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
  <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Internal/"/>

  <!-- The internal index set used by Umbraco back-office for indexing members - DO NOT REMOVE -->
  <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/InternalMember/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName"/>
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="loginName" />
      <add Name="email" />
      <add Name="nodeTypeAlias" />
    </IndexAttributeFields>
  </IndexSet>
    
  <!-- Default Indexset for external searches, this indexes all fields on all types of nodes-->
  <IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/External/" />

  <!-- The internal index set used by Chalmers.ILL for indexing Chalmers.ILL.OrderItem -->
  <IndexSet SetName="ChalmersILLOrderItemsIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/ChalmersILLOrderItems/">
    <IndexAttributeFields>
      <add Name="id" EnableSorting="false" />
      <add Name="nodeName" EnableSorting="false" />
      <add Name="createDate" EnableSorting="true" Type="DATETIME" />
      <add Name="updateDate" EnableSorting="false" Type="DATETIME" />
      <add Name="nodeTypeAlias" EnableSorting="false" />
    </IndexAttributeFields>
    <IndexUserFields>
      <add Name="OriginalOrder" EnableSorting="false" />
      <add Name="Reference" EnableSorting="true" />
      <add Name="PatronName" EnableSorting="true" />
      <add Name="PatronEmail" EnableSorting="false" />
      <add Name="PatronCardNo" EnableSorting="false" />
      <add Name="OrderId" EnableSorting="true" />
      <add Name="ProviderName" EnableSorting="true" />
      <add Name="ProviderOrderId" EnableSorting="true" />
      <add Name="FollowUpDate" EnableSorting="true" Type="DATETIME" />
      <add Name="Status" EnableSorting="true" />
      <add Name="Type" EnableSorting="true" />
      <add Name="EditedBy" EnableSorting="true" />
      <add Name="pType" EnableSorting="false" />
      <add Name="Log" EnableSorting="false" />
      <add Name="Attachments" EnableSorting="false" />
      <add Name="SierraInfo" EnableSorting="false" />
      <add Name="DrmWarning" EnableSorting="false" />
      <add Name="DeliveryLibrary" EnableSorting="true" />
      <add Name="HomeLibrary" EnableSorting="false" />
      <add Name="CancellationReason" EnableSorting="false" />
      <add Name="PurchasedMaterial" EnableSorting="false" />
      <add Name="SeedId" EnableSorting="false" />
      <add Name="DueDate" EnableSorting="false" Type="DATETIME"/>
      <add Name="BookId" EnableSorting="false" />
      <add Name="ProviderInformation" EnableSorting="false" />
      <add Name="DeliveryDate" EnableSorting="false" Type="DATETIME" />
      <add Name="ProviderDueDate" EnableSorting="false" Type="DATETIME" />
      <add Name="PreviousStatus" EnableSorting="false" />
    </IndexUserFields>
    <IncludeNodeTypes>
      <add Name="ChalmersILLOrderItem" />
    </IncludeNodeTypes>
  </IndexSet>

  <IndexSet SetName="ChalmersILLTemplatesIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/ChalmersILLTemplates/">
    <IndexAttributeFields>
      <add Name="id" EnableSorting="false" />
      <add Name="nodeName" EnableSorting="false" />
      <add Name="createDate" EnableSorting="true" Type="DATETIME" />
      <add Name="updateDate" EnableSorting="false" Type="DATETIME" />
      <add Name="nodeTypeAlias" EnableSorting="false" />
    </IndexAttributeFields>
    <IndexUserFields>
      <add Name="Description" EnableSorting="false" />
      <add Name="Data" EnableSorting="false" />
    </IndexUserFields>
    <IncludeNodeTypes>
      <add Name="ChalmersILLTemplate" />
    </IncludeNodeTypes>
  </IndexSet>
  
</ExamineLuceneIndexSets>