@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Configuration;
@{
    Layout = "ChalmersILL.cshtml";
}

@{
    if (Convert.ToBoolean(ConfigurationManager.AppSettings["showManulMailFetchingTools"]))
    {
        <form class="form" role="form" onsubmit="return false;">
            <div class="row">
                <div class="col-md-12">
                    <h1>NY BESTÄLLNING!</h1>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="message">Meddelande</label>
                        <textarea class="form-control" rows="11" id="message" name="message"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="recipientName">Namn</label>
                        <input type="text" class="form-control" id="recipientName" name="recipientName" value="">
                    </div>
                    <div class="form-group">
                        <label for="recipientEmail">E-post</label>
                        <input type="text" class="form-control" id="recipientEmail" name="recipientEmail" value="">
                    </div>
                    <div class="form-group">
                        <label for="recipientLibNr">Bibliotekskortsnummer</label>
                        <input type="text" class="form-control" id="recipientLibNr" name="recipientLibNr" value="">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-12" for="deliveryLibrary">Bibliotek</label>
                            <div class="col-md-10">
                                <select id="libraryselector" onchange="$('#deliveryLibrary').val($(this).find('option:selected').val())"class="form-control">
                                    <option value="Z">Huvudbiblioteket</option>
                                    <option value="Zl">Kuggen</option>
                                    <option value="Za">Arkitekturbiblioteket</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control col-md-2" disabled id="deliveryLibrary" name="deliveryLibrary" value="Z" />
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" onclick="sendMailForNewOrder(this.form.message.value.toString().trim(), this.form.recipientName.value.toString().trim(), this.form.recipientEmail.value.toString().trim(), this.form.recipientLibNr.value.toString().trim(), this.form.deliveryLibrary.value.toString().trim());">Skicka in beställning</button>
                </div>
            </div>
        </form>
        <button class="btn btn-danger" type="button" onclick="lockScreen(); $.post('/umbraco/surface/SystemSurface/SendOutAutomaticMailsThatAreDue', {}, function (data) { alert(JSON.stringify(data)); unlockScreen(); });">Skicka ut automatiska mail</button>
    }
}

<h2>Startsida</h2>

<div>
    <h3>Nytt i Chillin</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <h4>2024-11-13 - v2.6.0</h4>
            <ul>
                <li>Regelbunden automatisk anonymisering av gamla ordrar.</li>
                <li>Gränssnitt för manuell anonymisering av automatiskt anonymiserade ordrar.</li>
                <li>Borttagning av skickade mail äldre än ett år.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <h4>2023-11-13 - v2.5.1</h4>
            <ul>
                <li>mblock är nu bara block och innehåller information om huruvida låntagaren är blockerad för requests i FOLIO - antingen manuellt eller automatiskt.</li>
                <li>Går ej att ta emot bok om låntagaren är blockerad i FOLIO.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <h4>2023-10-04 - v2.5.0</h4>
            <ul>
                <li>Översiktlig logg på varje ärende som lyfter viktiga saker och länkar vidare till detaljerade loggen.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <h4>2023-09-11 - v2.4.0</h4>
            <ul>
                <li>QR-kod för mottagning av artikel på filial. Vid scanning av QR-koden, från artikelns försättsblad, skickas mail till låntagare och status uppdateras på ordern.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <h4>2023-06-13 - v2.3.0</h4>
            <ul>
                <li>Diskappen borttagen.</li>
                <li>Automatiskt mailutskick till låntagare fyra dagar efter artikel skickats till filial.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <h4>2022-12-05 - v2.2.0</h4>
            <ul>
                <li>Låntagarens tillhörighet och access till resurser hämtas från PDB.</li>
                <li>Letar efter person med CID, personnummer och mail i PDB vid skapande av order.</li>
                <li>Möjlighet att läsa in data från PDB manuellt.</li>
            </ul>
        </li>
        <li class="list-group-item">
            <h4>2022-10-20 - v2.1.0</h4>
            <ul>
                <li>Status active/inactive för kontot i FOLIO läses in och sparas i Chillin vid mailhämtning och manuell hämtning av beställardata.</li>
                <li>Status på kontot i FOLIO används för att lägga upp informationsrutor vid beställning och mottagning av bok.</li>
                <li>Informationsruta som påminner om retur i FOLIO efter retur i Chillin och status FOLIO.</li>
                <li>Informationsruta som påminner om ändring av lånetid i FOLIO efter ändring av lånetid i Chillin och status FOLIO.</li>
                <li>Status ändras inte vid ändring av lånetid om status är FOLIO.</li>
                <li>Mallar går att skapa under inställningar.</li>
            </ul>
        </li>
    </ul>
</div>

<div>
    <h3>Översikt status</h3>
    <ul class="list-group">
        <li class="list-group-item"><span class="label label-success">Ny</span> - nyinkommen beställning, syns alltid i listan.</li>
        <li class="list-group-item"><span class="label label-danger">Mottagen</span> - leverans eller svar från leverantör, syns alltid i listan.</li>
        <li class="list-group-item"><span class="label label-danger">Åtgärda</span> - ska tas om hand, syns alltid i listan.</li>
        <li class="list-group-item"><span class="label label-danger">Krävd</span> - krävd från lt pga. återlämningskrav från utlånande bibliotek, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-danger">Beställd</span> - hos leverantör, syns bara om uppföljningsdatum passerats.</li>
        <li class="list-group-item"><span class="label label-danger">Väntar</span> - avvaktar svar från lt eller dyl, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-danger">Transport</span> - transporteras till filial för leverans, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-danger">Infodisk</span> - boken är mottagen från utlånande bibliotek och utställd i infodisken, syns i listan fem dagar innan återlämningsdatum.</li>
        <li class="list-group-item"><span class="label label-danger">Utlånad</span> - utlånad till lt, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-danger">Förlorad?</span> - bok kan vara förlorad, syns inte i listan.</li>
        <li class="list-group-item"><span class="label label-info">Levererad</span> - klar, levererad till lt, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-info">Annullerad</span> - avbeställd, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-info">Överförd</span> - bokbeställning inklistrad i Sierras fjärrlånemodul, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-info">Inköpt</span> - färdigbehandlat inköpsförslag, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-info">Återsänd</span> - bok är återsänd till utlånande bibliotek, syns aldrig i listan.</li>
        <li class="list-group-item"><span class="label label-info">Förlorad</span> - bok anses vara förlorad, vi har gett upp.</li>
    </ul>

    <p>
        Listan man får vid start ska visa allt man har att arbeta med för tillfället - nya beställningar, beställningar som skall åtgärdas och de som har passerat uppföljningsdatum. <br />
        Övriga beställningar söker man fram.
    </p>
</div>

<div>
    <h3>Söktips</h3>
    <ul class="list-group">
        <li class="list-group-item">+ för AND</li>
        <li class="list-group-item">- för NOT</li>
        <li class="list-group-item">* trunkerar, ? går också att använda mitt i ord.</li>
    </ul>

    <p>
        Sökningen görs i de fält som ingår i beställningen. Skriv in fältnamnet och : för att söka i bara det fältet. Andra sökningar där : ingår går måste ':' skrivas '\:'. <br />
        Det går bra att söka på en status, t ex beställd för att se allt som ligger och väntar på leverans.
    </p>

    <h4>Fältnamn</h4>
    <ul class="list-group">
        <li class="list-group-item">status:</li>
        <li class="list-group-item">type:</li>
        <li class="list-group-item">patronName:</li>
        <li class="list-group-item">patronEmail:</li>
        <li class="list-group-item">patronCardNo:</li>
        <li class="list-group-item">bookId:</li>
        <li class="list-group-item">deliveryDate:</li>
        <li class="list-group-item">createDate:</li>
        <li class="list-group-item">providerName:</li>
    </ul>

    <h4>Exempelsökningar</h4>
    <ul class="list-group">
        <li class="list-group-item">status:Inköpt AND createDate:[2016-10-31 TO 2016-11-02] <a href="/bestaellningar/?query=status:Inköpt AND createDate:[2016-10-31 TO 2016-11-02]">🔗</a></li>
        <li class="list-group-item">patronEmail:"Ylva.lindgren@chalmers.se" AND status:Levererad <a href='/bestaellningar/?query=patronEmail:"Ylva.lindgren@chalmers.se" AND status:Levererad'>🔗</a></li>
        <li class="list-group-item">status:Levererad AND deliveryDate:[2016-11-01 TO 2016-12-01] AND patronName:"Björn Pålsson" <a href='/bestaellningar/?query=status:Levererad AND deliveryDate:[2016-11-01 TO 2016-12-01] AND patronName:"Björn Pålsson"'>🔗</a></li>
        <li class="list-group-item">status:Levererad AND deliveryDate:2016-11-08 AND patronName:"Björn Pålsson" <a href='/bestaellningar/?query=status:Levererad AND deliveryDate:2016-11-08 AND patronName:"Björn Pålsson"'>🔗</a></li>
        <li class="list-group-item">status:Levererad AND deliveryDate:2016-12-30 <a href='/bestaellningar/?query=status:Levererad AND deliveryDate:2016-12-30'>🔗</a></li>
        <li class="list-group-item">status:Levererad AND deliveryDate:[2016-12-01 TO 2016-12-31] <a href='/bestaellningar/?query=status:Levererad AND deliveryDate:[2016-12-01 TO 2016-12-31]'>🔗</a></li>
        <li class="list-group-item">patronName:"Lari Kovanen" AND providerName:Libris <a href='/bestaellningar/?query=patronName:"Lari Kovanen" AND providerName:Libris'>🔗</a></li>
        <li class="list-group-item">type:Bok AND createDate:[2017-05-01 TO 2017-05-18] AND providerName:Libris <a href='/bestaellningar/?query=type:Bok AND createDate:[2017-05-01 TO 2017-05-18] AND providerName:Libris'>🔗</a></li>
    </ul>
</div>

<div>
    <h3>Automatiskt mailutskick</h3>
    <p>Automatiska mail skickas ut 05:50 varje dag. Missade meddelanden skickas ej ut retroaktivt.</p>
    <ul class="list-group">
        <li class="list-group-item">
            <b>Artighetsmeddelande</b><br />
            Status: Utlånad<br />
            Datum: Exakt fem dagar innan återlämningsdatum
        </li>
        <li class="list-group-item">
            <b>Lånetid slut</b><br />
            Status: Utlånad<br />
            Datum: Exakt en dag efter återlämningsdatum
        </li>
        <li class="list-group-item">
            <b>Bok lite försenad</b><br />
            Status: Utlånad eller Krävd<br />
            Datum: Exakt fem dagar efter återlämningsdatum
        </li>
        <li class="list-group-item">
            <b>Bok mycket försenad!</b><br />
            Status: Utlånad eller Krävd<br />
            Datum: Exakt tio dagar efter återlämningsdatum
        </li>
        <li class="list-group-item">
            <b>Bok väldigt mycket försenad! (inget mailutskick)</b><br />
            Status: Utlånad eller krävd<br />
            Datum: 17 dagar eller mer efter återlämningsdatum<br />
            Note: Inget mailutskick. Loggar och ändrar status till Åtgärda.
        </li>
        <li class="list-group-item">
            <b>Artikel tillgänglig i infodisk efter transport</b><br />
            Status: Transport<br />
            Datum: Mer än en dag efter leveransdatum<br />
            Note: Loggar och ändrar status till Levererad.
        </li>
    </ul>
</div>