@inherits Umbraco.Web.Mvc.UmbracoViewPage<Chalmers.ILL.Models.Page.ChalmersILLDiskPageModel>
@using umbraco.cms.businesslogic.member;
@using System.Web.Security;
@using Examine;
@using Chalmers.ILL.Controllers.SurfaceControllers;
@using Chalmers.ILL.Extensions;
@using Umbraco.Core.Logging;
@using System.Globalization;
@using System.Configuration

@{
    Layout = null;
}
<!doctype html>
<html>
    <head>
        <title>Diskapp används ej längre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/chalmers.ill.main.css">
    </head>
    <body>
        <h1>Diskapp används ej längre</h1>
        <p>Ärenden för artiklar som skickas ut till filial kommer fyra dagar efter utskick att ändras till status Levererad och ett mail kommer att skicka ut till låntagare.</p>
    </body>
</html>
