@model Chalmers.ILL.Models.PartialPage.ChalmersILLActionDeliveryModel

<div class="action-header">Leverans</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @if (Model.OrderItem.TypePrevalue == "Artikel")
            {
                <label>Leveranssätt</label>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="delivery-type-dropdown" data-toggle="dropdown" aria-expanded="true">
                        <span id="active-delivery-type" data-delivery-type="epost">Direktleverans via e-post</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="delivery-type-dropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#" data-render-method="RenderArticleByEmailDeliveryType" data-delivery-type="epost" onclick="selectDeliveryType(this); event.preventDefault();">Direktleverans via e-post</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#" data-render-method="RenderArticleByMailOrInternalMailDeliveryType" data-delivery-type="post" onclick="selectDeliveryType(this); event.preventDefault();">Direktleverans via post</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#" data-render-method="RenderArticleByMailOrInternalMailDeliveryType" data-delivery-type="internpost" onclick="selectDeliveryType(this); event.preventDefault();">Direktleverans via internpost</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#" data-render-method="RenderArticleInInfodiskDeliveryType" data-delivery-type="infodisk" onclick="selectDeliveryType(this); event.preventDefault();">Avhämtning i infodisk</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#" data-render-method="RenderArticleInTransitDeliveryType" data-delivery-type="transport" onclick="selectDeliveryType(this); event.preventDefault();">Internpost till filial</a>
                        </li>
                    </ul>
                </div>
            }
            else if (Model.OrderItem.TypePrevalue == "Bok")
            {
                <label>Leveranssätt</label>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="delivery-type-dropdown" data-toggle="dropdown" aria-expanded="true">
                        <span id="active-delivery-type" data-delivery-type="infodisk">Avhämtning i infodisk</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="delivery-type-dropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#" data-render-method="RenderBookInstantLoanDeliveryType" data-delivery-type="infodisk" onclick="selectDeliveryType(this); event.preventDefault();">
                                Avhämtning i infodisk
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#" data-render-method="RenderBookReadAtLibraryDeliveryType" data-delivery-type="infodisk (ej hemlån)" onclick="selectDeliveryType(this); event.preventDefault();">
                                Ej hemlån
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<div id="delivery-type-view"></div>
<span id="loading-delivery-type-partial-view" style="height: 50px; line-height: 50px;">Laddar leveranssätt...</span>

<script type="text/javascript">
    $(function () {
        if ("@Model.OrderItem.TypePrevalue" == "Bok")
        {
            renderDeliveryTypePartial("RenderBookInstantLoanDeliveryType");
        }
        else
        {
            renderDeliveryTypePartial("RenderArticleByEmailDeliveryType");
        }
    })

    function selectDeliveryType(obj) {
        renderDeliveryTypePartial($(obj).data("render-method"));
        $("#active-delivery-type").html($(obj).html()).data("delivery-type", $(obj).data("delivery-type"));
    }

    function renderDeliveryTypePartial(renderApiMethod) {
        $("#loading-delivery-type-partial-view").show();
        $("#delivery-type-view").html("").show().load("/umbraco/surface/OrderItemDeliverySurface/" + renderApiMethod + "?nodeId=" + @Model.OrderItem.NodeId,
            function (responseText, textStatus, req) {
                $("#loading-delivery-type-partial-view").hide();
            }
        );
    }
</script>