@model Chalmers.ILL.Models.PartialPage.ChalmersILLActionProviderReturnDateModel
@using System.Globalization;

<div class="action-header">Ändra lånetid från leverantör</div>

<form class="form" role="form" onsubmit="return false;">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="dueDate">Återlämningsdatum</label>
                <div class="input-group date datetimepicker">
                    <input type="text" class="form-control" id="providerDueDate" name="providerDueDate" value="@Model.OrderItem.ProviderDueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="message">Logginlägg</label>
                <textarea class="form-control" rows="6" id="log-message" name="log-message"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-success" onclick="changeProviderReturnDate()">Ändra</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: "sv"
        });
    });

    function changeProviderReturnDate() {
        lockScreen();
        $.post("/umbraco/surface/OrderItemProviderReturnDateSurface/ChangeReturnDate", {
            packJson: JSON.stringify({
                nodeId: @Model.OrderItem.NodeId,
                logMsg: $("#log-message").val(),
                providerDueDate: $("#providerDueDate").val()
            })
        }).done(function (json) {
            if (json.Success) {
                loadOrderItemDetails(@Model.OrderItem.NodeId);
            }
            else {
                alert(json.Message);
            }
            unlockScreen();
        }).fail(function (jqxhr, textStatus, error) {
            alert("Error: " + textStatus + " " + error);
            unlockScreen();
        });
    }
</script>