@model Chalmers.ILL.Models.PartialPage.ChalmersILLActionPatronReturnDateModel

<div class="action-header">Ändra lånetid mot låntagare</div>

<form class="form" role="form" onsubmit="return false;">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-success" onclick="itemIsReturned()">Ändra</button>
        </div>
    </div>
</form>