@model Chalmers.ILL.Models.PartialPage.ChalmersILLActionClaimModel
@using System.Globalization

<div class="action-header">Kräv tillbaks bok</div>

<form class="form" role="form" onsubmit="return false;">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="message">Meddelande</label>
                <textarea class="form-control" rows="12" id="message" name="message">@Model.ClaimBookMailTemplate</textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="dueDate">Återlämningsdatum</label>
                <div class="input-group date datetimepicker">
                    <input type="text" class="form-control" id="dueDate" name="dueDate" value="@Model.OrderItem.DueDate.ToString("yyyy-MM-dd HH:mm", CultureInfo.CurrentCulture)">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <button type="button" class="btn btn-success">Kräv</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            locale: "sv"
        });
    });
</script>